html {
  font-size: 62.5%;
}
html,body {
  width: 100%;
  height: 100%;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*,*::before,*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333333;
}
a:visited {
  text-decoration: none;
  color: #333;
}
/*ドラッグ時の色*/
::selection{
    background: #FFD700;
    color: #ffffff;
}
::-moz-selection
{
    background: #FFD700;
    color: #ffffff;
}
/*ドラッグ時の色*/
/*scrollmark*/
.scroll a{
  position: absolute;
  bottom: 10px;
  left: 47.5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  font-size: 1.3rem;
}
.scroll a {
  padding-top: 60px;
}
.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.animation-box:nth-child(odd){
  background: #eee;
}
.animation-box{
  padding: 120px;
  transition:.5s;
}
.animation-box.active{
  background: #666;
  color: #fff;
}
/*scroll*/

/*gnav*/
header nav ul li a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
.sp-nav {
  display: none;
}

.site-header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.gnavMenu{
  display: flex;
  box-sizing: border-box;
  max-width: 1000px;
  height: 100px;
  margin:0 auto;
}
.gnavMenu_item {
  margin: auto;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/*ホバー下線*/
.gnav li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.gnav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.gnav li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
/*ホバー下線*/
/*gnav*/
/*main*/
.section {
  width: 100%;
  height: 100%;
  padding: 100px 0;
}
.section-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}  
.title-profile, .title-skills {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
}
.title-profile::before, .title-skills::before,
.title-profile::after, .title-skills::after {
  content: '';
  position: absolute;
  right:0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #fff;
}
.title-profile::before, .title-skills::before {
  bottom: 5px;
} 
.title-work, .title-contact {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: #333;
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
}
.title-work::before, .title-contact::before,
.title-work::after, .title-contact::after {
  content: '';
  position: absolute;
  right:0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #333;
}
.title-work::before, .title-contact::before {
  bottom: 5px;
}
h3 {
  color: #333;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  padding-top: 100px;
  margin-bottom: 40px;
}
p {
  color: #fff;
}
.section-top {
  height:100vh;
  padding-top: 0;
}
.section-work {
  padding-top: 100px;
  background-color: #fff;
}
.section-profile {
  padding-top: 100px;
}
.section-contact {
  padding-top: 100px;
  background-color: #fff;
}

/*top*/
#hoge{
  max-width: 1000px;
  height: 500px;
  margin: 0 20px;
  background: linear-gradient(-135deg, #e4007f, #00a1e9);
  position: relative;
}
.top-title {
  width: 100%;
  position: absolute;
  top: 45%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px 10px 10px 0;
  text-align: right;
  color: #000;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
}
/*top*/
/*work*/
.work-flex {
  box-sizing: border-box;
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
}
.work-item img,
.work-banner img,
.work-card img {
  max-width: 100%;
  object-fit: cover;
  transition-duration:0.5s;
  opacity: 0.5;
}
.work-item img:hover,
.work-banner img:hover,
.work-card img:hover {
  opacity: 1;
}
.work-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  margin: 0 8px;
  margin-bottom: 30px;
  background-color: #000;
}
.work-item-dummy img {
  max-width: 100%;
  object-fit: cover;
}
.work-item-dummy {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  margin: 0 8px;
  margin-bottom: 30px;
}
/*いつか使う時用
.webcode-btn {
  display: block;
  width: 150px;
  margin: 20px auto 0;
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 5px;
  font-size: 1.5rem;
}
.webcode-btn:hover {
  color: #fff;
  background-color: #333;
  transition: 0.5s;
}*/
.about {
  width: 300px;
  margin-top: 10px;
  line-height: 2;
  font-size: 1.3rem;
  color: #333;
}
/*work*/
/*profile*/
#profile {
  background-image: url(../images/pc_back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: auto;
}
.profile-wrapper {
  max-width: 1000px;
  box-sizing: border-box;
  padding:0 20px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  word-break: break-all;
  line-height: 2;
  color: #fff;
}
.profile-name {
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.content-profile {
  font-size: 1.5rem;
}

.skill-wrapper {
  display: flex;
  max-width: 1000px;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 30px;
}
.skill-icon {
  width: 110px;
  height: 110px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #FFD700;
  font-size: 6rem;
  line-height: 105px;
}
.skill-about {
  max-width: 300px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.8;
}
.skill-box {
  width: 300px;
}
/*profile*/
/*contact*/
label {
  font-size: 1.5rem;
}
.required {
  padding-left: 5px;
  font-size: 1.5rem;
  color: #e4007f;
}
.contact-form {
  width: 80%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 15px;
  outline: none;
  border: 1px solid #ccc;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=submit] {
  display: block;
  width: 30%;
  margin: 40px auto 0;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.contact-form input[type=submit]:hover {
  background-color: #333;
  color: #fff;
  transition: 0.5s;
}
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
 border-color:#00a1e9;
 transition: 0.5s;
}
/*contact*/
/*footer*/
.copyright {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #333333;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 20px auto;

}
/*footer*/

/*レスポンシブ*/
@media screen and (max-width: 600px){
.site-header {
  min-width: 375px;
}
#pc-nav {
  display: none;
}
h3 {
  padding-top:30px;
  margin-bottom: 25px;
}
/*top*/
.top-title {
  font-size: 2rem;
}
.section-top {
  padding-top:0;
}
#hoge {
  height: 100vh;
}
/*ハンバーガー*/
header nav {
	margin-right: -16px;
}
header nav ul{
	display: flex;
	align-items: center;
	
}
header nav ul li a{
	color: #333;
	text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
	padding: 16px ;
}

/*メニュー部分*/
nav{
  display:none;
	position: fixed;
	top:0;
	width: 100%;
	height: 100vh;
	background:rgba(0,0,0,0.8);
	left: 0;
  z-index: 99;
}
header nav ul{
	display: block;
	width: 90%;
	height: 350px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
header nav ul li{
	margin: 0 auto;
  text-align: center;
 }
header nav ul li:last-child{
  border: none;
}
header nav ul li a{
  display: block; 
  color: #fff;
}
#sp-btn {
  width: 70px;
  height: 70px;
  background-color: #333;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  counter-reset: #fff;
  z-index: 999;
}

	/*開閉ボタン*/
#nav_toggle{
  display: block;
	width: 40px;
	height: 40px;
  position: fixed;
  right: 0;
  top: 4px;
  margin: 15px;
	z-index: 1000;
}
#nav_toggle div {
	position: relative;
}
#nav_toggle span{
	display: block;
	height: 3px;
	background: #f2f2f2;
	position:absolute;
	width: 100%;
	right: 0;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
   transition: 0.5s ease-in-out;	
}
#nav_toggle span:nth-child(1){
	top:0px;
}
#nav_toggle span:nth-child(2){
	top:12px;
}
#nav_toggle span:nth-child(3){
	top:24px;
}
	
	/*開閉ボタンopen時*/
.open #nav_toggle span{
  background: #fff;
}
.open #nav_toggle span:nth-child(1) {
	top: 12px;
  -webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
}
.open #nav_toggle span:nth-child(2) {
	width: 0;
	left: 50%;
}
.open #nav_toggle span:nth-child(3) {
	top: 12px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
header ul li a:visited {
  color:#fff;
}
/*ハンバーガー*/


/*top*/

.work-contents {
  width: 375px;
  margin: auto;
}
.work-flex {
  width:375px;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.content-profile {
  font-size: 1.3rem;
  font-feature-settings : "palt";
}
.skill-wrapper {
  width: 375px;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}
.skill-about {
  margin:auto;
  text-align:center;
  font-size: 1.3rem;
}

.skill-icon {
  margin-bottom: 15px;
}
.skill-box {
  width: 375px;
  padding-top: 30px;
}
.work-item-dummy {
  display: none;
}
.contact-form {
  width: 300px;
}
}
/*レスポンシブ*/